venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.mo

media/
staticfiles/
/static/
.env
.env.local
.DS_Store
.idea/
.vscode/
*.swp
*.swo
coverage.xml    
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/