{% extends 'base.html' %}
{% load static %}

{% block title %}Бренды — MARAIS{% endblock %}

{% block content %}
<section class="hero">
  <div class="container-m hero-wrapper">
    <img class="hero-image" src="{% static 'images/hero_image.png' %}" alt="Hero image">
    <img class="hero-decor hero-decor--left" src="{% static 'images/lefft.png' %}" alt="">
    <img class="hero-decor hero-decor--right" src="{% static 'images/rightt.png' %}" alt="">
    <div class="hero-overlay">
      <h1 style="color: white;">Бренды</h1>
    </div>
  </div>
</section>

<section class="brand-page">
  <div class="container-m">
    <div class="brand-section">
      <div class="brand-grid">
        {% for brand in brands %}
        <a href="{% url 'catalog:home' %}?brand={{ brand.name|urlencode }}" class="brand-card">
          <div class="brand-card__image">
            {% if brand.logo %}
            <img src="{{ brand.logo.url }}" alt="{{ brand.name }}">
            {% else %}
            <img src="{% static 'images/logo.png' %}" alt="{{ brand.name }}" class="product-brand-placeholder"
              style="padding: 40px; opacity: 0.8;">
            {% endif %}
          </div>
          <div class="brand-card__content">
            <h3 class="brand-card__title">{{ brand.name }}</h3>
            <span class="brand-card__country">{{ brand.country }}</span>
            <p class="brand-card__desc">{{ brand.description }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}