{% extends 'base.html' %}
{% load static %}

{% block title %}О нас — MARAIS{% endblock %}

{% block content %}
<section class="hero">
  <div class="container-m hero-wrapper">
    <img class="hero-image" src="{% static 'images/hero_image.png' %}" alt="Hero image">
    <img class="hero-decor hero-decor--left" src="{% static 'images/lefft.png' %}" alt="">
    <img class="hero-decor hero-decor--right" src="{% static 'images/rightt.png' %}" alt="">
    <div class="hero-overlay">
      <h1 style="color: white;">О нас</h1>
    </div>
  </div>
</section>

<section class="project-page">
  <div class="container-m">
    <div class="project-hero">
      <div class="project-hero__text">
        <h1>О нас MARAIS</h1>
        <p>В MARAIS [марэ’] мы представляем уникальные, концептуальные украшения — сокровища, тщательно собранные из
          разных стран. В наших подборках мы находим баланс между модой и вневременностью.</p>
        <p>Каждый предмет в нашей коллекции — результат кропотливой работы мастеров и дизайнеров, которые ценят
          индивидуальность и высокое качество. Наш негласный манифест “Be authentic, be unique” вдохновляет нас каждый
          день.</p>
        <p>Название вдохновлено парижским кварталом Marais — местом с галереями современного искусства, уютными рынками
          и модными магазинами, куда тянутся творческие и смелые люди со всего мира.</p>
        <p>Эклектика и свобода формируют атмосферу нашего пространства. Оно вдохновляет искать собственную эстетику и
          стиль, ценить индивидуальность, непринуждённую элегантность и душевность образов.</p>
      </div>
      <div class="project-hero__media">
        <img src="{% static 'images/about_us_visual.jpg' %}" alt="О нас MARAIS">
      </div>
    </div>


  </div>
</section>
{% endblock %}