{% load static %}
<header class="site-header">
  <div class="container-m header-inner">
    <nav class="header-nav">
      <a href="#" class="nav-link">Магазин</a>
      <a href="#" class="nav-link">Бренд</a>
      <a href="#" class="nav-link">Проект</a>
      <a href="#" class="nav-link">Отзывы</a>
    </nav>

    <div class="header-logo">
      <a href="/">
        <img src="{% static 'images/logo.png' %}" alt="Marais">
      </a>
    </div>

    <div class="header-actions">
      <img src="{% static 'images/Phone.png' %}" alt="Phone" class="icon-link">
      <img src="{% static 'images/Vector.png' %}" alt="Wishlist" class="icon-link">
      <img src="{% static 'images/Serch.png' %}" alt="Search" class="icon-link">
      <img src="{% static 'images/profile.png' %}" alt="Profile" class="icon-link">
      <a href="#" class="lang">RU</a>
    </div>
  </div>
</header>
